<div class="content">
    <div class="row no-margin">
        <div class="col-md-12">
            <div class="center">
                <div class="text-center">
                    <img src="{{vm.imgUrl}}" alt="GitHub">
                    <form name="init-form">
                        <div class="form-group form-inline center">
                            <div class="center" style="width: 80%;">
                                <div class="form-group mx-sm-3 mb-2" style="float: left;">
                                    <input type="text" ng-model="vm.username" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                        placeholder="Enter User Name" required>
                                </div>
                                <button type="submit" class="btn btn-success" ng-click="vm.searchRepo();" style="float: right;">Search</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</div>